.amenities {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.amenities__text {
  color: #000;
  font-size: 32px;
  font-weight: bold;

  border-bottom: 1px solid #dee2e6;
  padding-bottom: 8px;
}

.amenities__info {
  display: grid;
  gap: 24px;
}

.amenities__true {
  color: green;
  font-weight: bold;
}
